body{
    background-color:White ;
    Color: Black;
    }
p{
    background-color:White ;
    Color: Black;
}



.Buscar{
    background: #E5E5E5;
    font-style: normal;
    height: 68px;

}

.grand-text{
    font-size: 64px;


    line-height: 82px;
}
strong{
    background-color:Black ;
    Color:white;
    padding: 5px;
}
.Black{
    background-color:Black ;
    Color:white;
    text-align: center;
    padding: 0;

}
.central{

    text-align: center;
    padding: 0;

}


footer{
    background: #6A6666;
    box-sizing: border-box;

    padding: 1rem 1rem 1rem 1rem;


}

header{
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
    align-content: center;
    width: 100%;


}
.


